* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

html, body {
    height: 100%;

}

.container {
    width: 1500px;
    padding: 0 20px;
    margin: 0 auto;
}

/** Colors **/
.bg-broun {
    background-color: #634F2C;
}

.bg-broun-light {
    background-color: #B4A385;
}

.bg-beige {
    background-color: #E4B564;
}

.bg-dark-baige {
    background-color: #B08C4D;
}

.bg-dark-grey {
    background-color: #635A4A;
}

.bg-light-grey {
    background-color: #242424;
}

.bg-hard-grey {
    background-color: #1F1F1F;
}

.bg-light-black {
    background-color: #0E0E0E;
}

.bg-dark-black {
    background-color: #0A0909;
}

.bg-ligth-sand {
    background-color: #9e8a67c2;
}

/** Main styles **/
.header {
    padding-bottom: 40px;
}

.section {
    padding: 80px 0;
}
.grey-section {
    background-color: #171717;
}

.black-section {
    background-color: black;
}

.section-header {
    margin-bottom: 94px;
}

.section-title {
    font-family: 'Gilam', sans-serif;
    font-weight: 700;
    font-size: 50px;
    line-height: 28px;
    color: #FFFFFF;
}

.section-description {
    font-family: 'Gilam', sans-serif;
    font-weight: 700;
    font-size: 20px;
    line-height: 28px;
    color: #FFFFFF;
    margin-top: 41px;
}

.logo-img {
    margin-top: 46px;
}
.head-title {
    display: flex;
    justify-content: space-between;
}

.contact-button-link {
    display: flex;
    align-items: center;
    text-decoration: none;
    border: 1px solid #E4B564;
    width: 218px;
    height: 50px;
    color: #E4B564;
    font-size: 18px;
    line-height: 18px;
    padding: 10px;
    font-weight: 400;
    font-family: 'Circe', sans-serif;
    margin-top: 37px;
}

.projects-button {
    padding-left: 50px;
    margin-top: 0;
}

.contact-button-img {
    padding-right: 10px;
    padding-left: 5px;
}



.external-heating-services {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-auto-rows: 468px;
    column-gap: 30px;
    row-gap: 30px;
}

.external-heating-services-item {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    grid-column: span 2;
    color: #FFFFFF;
    font-weight: 700;
    font-family: 'Gilam', sans-serif;
    font-size: 20px;
    line-height: 28px;
}

.external-heating-services-item--second-row {
    grid-column: span 3;
}


.construction-equipment-cars {
    display: grid;
    grid-template-rows: repeat(16, 1fr);
    grid-template-columns: repeat(3, 467px);
    grid-auto-columns: 467px;
    column-gap: 30px;
    row-gap: 30px;
    height: 910px;

}

.construction-equipment-cars-item {
    display: flex;
    flex-direction: column;
    padding-top: 44px;
    padding-left: 52px;
    font-family: 'Gilam', sans-serif;
    font-size: 20px;
    line-height: 25px;
    color: #FFFFFF;

}

.construction-equipment-cars-item--first-column-1 {
    grid-row: span 6;
}

.construction-equipment-cars-item--first-column-2 {
    grid-row: span 10;
}
.construction-equipment-cars-item--second-column-1 {
    grid-row: span 7;
}
.construction-equipment-cars-item--second-column-2 {
    grid-row: span 8;
}
.construction-equipment-cars-item--third-column-1 {
    grid-row: span 4;
}
.construction-equipment-cars-item--third-column-2 {
    grid-row: span 7;

}
.construction-equipment-cars-item--third-column-3 {
    grid-row: span 5;
}

.bold-text {
    font-weight: 700;
}

.black-text {
    color: #000000;
}

.clients-header {
    display: flex;
    justify-content: space-between;
}

.clients-and-products-list {
    display: grid;
    grid-template-rows: repeat(2, 391px);
    grid-template-columns: repeat(3, 487px);
    background-color: #FFFFFF;
}

.clients-and-products-item {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-wrap: wrap;
    font-family: 'Gilam', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 28px;
    color: #FFFFFF;
}

.logo-mavis-img-item {
    display: block;
    margin: 0 auto;
}
.logo-mavis-img {
    margin-bottom: 15px;
}

.logo-mavis-img-item:first-child {
    padding-top: 61px;
}

.mavis-text {
    margin: 0 80px 15px 80px;
}